/*  # variables */
:root {
  --carousel-image--width: 500px;
  --carousel-image--height: 375px;
  --carousel__arrow-button--height: 48px;
}

#carousel {
  position: relative;
  font-size: 1.2rem;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

#carousel h3 {
  margin: 16px 0 8px 0;
  font-size: 1.6rem;
}

.arrow-button {
  position: absolute;
  top: calc(50% - var(--carousel__arrow-button--height) / 2);
  height: var(--carousel__arrow-button--height);
  width: 48px;
  font-size: 48px;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  /* border-radius: 50%; */
  text-align: center;
  /* vertical-align:50%; */
  opacity: 0.5;
  transition: 300ms ease-in;
}

.arrow-button:hover {
  opacity: 1;
}

.left-arrow-button {
  left: 0;
  filter: invert(99%) sepia(7%) saturate(228%) hue-rotate(227deg) brightness(113%) contrast(100%);
  background-color: transparent;
}

.right-arrow-button {
  right: 0;
  filter: invert(99%) sepia(7%) saturate(228%) hue-rotate(227deg) brightness(113%) contrast(100%);
  background-color: transparent;
}

#image-wrapper {
  display: flex;
  column-gap: 16px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.card {
  width: var(--carousel-image--width);
  height: var(--carousel-image--height);
  /* border-radius: 16px; */
  background-color: aliceblue;
}

.card * {
  transition: 0.3s ease all;
}

.card img {
  width: 100vw;
  max-width: var(--carousel-image--width);
  object-fit: cover;
  /* border-radius: 16px; */
  transition: 900ms ease-out;
}

.card .focus-content {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.card .focus-content .description {
  /* margin-bottom: 12px; */
}

.card .focus-content .project-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
}

.card:hover img,
.card:focus-within img {
  margin-top: -375px;
  transition: 400ms 200ms ease-out;
}

.card:hover h3,
.card:focus-within h3 {
  /* padding: 8px 12px 0; */
}

/* # Mobile First breakpoints 600/900/1200 START*/

/* @media only screen and (min-width: 600px) {
  
} */

/* @media only screen and (min-width: 900px) {
  
} */

/* @media only screen and (min-width: 1200px) {
  
} */

/* # Mobile First breakpoints END*/
