/* _________ General ____________ */

@charset "utf-8";

@font-face {
  font-family: 'Outfit';
  src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf);
}

:root {
  --border-radius: 4px;
  --overlay__background-color: #000000;
  --overlay__background-color--blurred: #000000bb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Giant Font Size Bug */
html {
  font-size: 100%;
}

/* --------- Headings ----------- */

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-color);
  font-family: 'Outfit', sans-serif;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 4.5rem;
}

h2 {
  font-size: 3rem;
  /* margin-bottom: 1rem;
  margin-top: 2rem; */
}

h3,
h4,
h5 {
  font-size: 2rem;
  /* margin-bottom: 1rem;
  margin-top: 2rem; */
}

/* --------- Hyperlinks ----------- */

/* todo: a:visited, a:active */
a {
  text-decoration: none;
  color: var(--default-link-color);
}

a:hover {
  /* text-decoration: underline; */
  color: var(--hover-link-color);
}

/* --------- Buttons ------------ */

.btn {
  border: 4px solid var(--primary-color);
  border-radius: 0.5rem;
  color: var(--primary-color);
  background: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
  /* font-family: -system-ui, sans-serif; */
  font-size: 1.2rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 1rem 0;
  height: 52px;
  max-width: 150px;
  cursor: pointer;
  transition: ease-in 100ms;
}

.btn:hover {
  border: none;
  color: white;
  background: var(--secondary-color);
}

.btn:disabled {
  pointer-events: none;
}

/* _________ Layout ____________ */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 1em;
  line-height: 1.2;
  color: var(--text-color);
  background-color: var(--background-color);
}

header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100vw;
}

/* --------- Hamburger Nav --------- */

/* todo: style, animation */
#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  opacity: 0.98;
  z-index: 15;
}

/* todo: https://www.svgrepo.com/vectors/menu/ */
#hamburger-button {
  position: fixed;
  z-index: 18;
  top: 12px;
  right: 12px;

  /* height: 1.8rem;
  width: 1.8rem; */
  /* border: none;
  border-radius: 1px; */
  cursor: pointer;
  /* background-color: var(--white); */
}

#cross-svg,
#lines-svg {
  height: 2rem;
  width: 2rem;
  filter: var(--svg-to-text-color);
}

#hamburger-menu {
  z-index: 17;
  position: fixed;
  top: 5px;
  right: 5px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 200px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
}

#hamburger-menu li {
  list-style-type: none;
  margin-bottom: 1rem;
  color: var(--text-color);
}

#hamburger-menu a {
  color: var(--text-color);
}

/* --------- Top Bar --------- */

#top-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
  padding: 0 64px 0 32px;
  background-color: var(--background-color);
  color: var(--text-color);
  opacity: 0.8;
}

/* todo: restyle to iOS switch, place it elsewhere */
/* initial opacity. Is set to 1 in typewriter.js */
#theme-switch {
  font-size: 2.5rem;
  opacity: 0;
}

#top-bar-menu {
  margin: 0 auto;
}

#top-bar-menu ul {
  display: flex;
  gap: 16px;
}

#top-bar-menu li {
  list-style-type: none;
}

#top-bar-menu a {
  text-decoration: none;
  color: var(--default-link-color);
}

#top-bar-menu a:hover {
  color: var(--hover-link-color);
  text-decoration: underline;
}

/* --------- Welcome --------- */

#welcome {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

#welcome-background {
  position: absolute;
  z-index: -999;
  height: 120%;
  right: 0;
  top: 0;
  opacity: 0%;
  animation-duration: 2s;
}

/* typewriter.js: welcomeBackground.style.animationName = 'portrait-opacity'; */
@keyframes portrait-opacity {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

/* todo: align items at start screen:  #welcome-text and #terminal-container */
#welcome-content {
  /* position: relative; */ /* Why? Sonst ist background im Vordergrund */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#welcome-text {
  margin-top: 4em;
}

#welcome-text h1 .accent {
  margin-left: 4rem;
}

#welcome-text h1 + p {
  margin-top: 1rem;
}

/* --------- Terminal --------- */

/* todo:  #terminal-window => #terminal-container. Before that, commit! */
#terminal-container {
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 0px;
  opacity: 0;
  transition: 150ms ease-in;
}

#terminal-window {
  width: 400px;
  height: 300px;
  color: var(--white);
  background-color: var(--black);
  border: 2px solid #dddddd;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#terminal-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  color: var(--black);
  background-color: #dddddd;
}

#terminal-header__title {
  flex: 1;
  text-align: center;
}

.terminal-header__button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 6px;
}

.terminal-header__button.red {
  background-color: var(--secondary-color);
}

.terminal-header__button.yellow {
  background-color: var(--primary-color);
}

.terminal-header__button.green {
  background-color: var(--accent-color);
}

#terminal-content {
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: var(--white);
}

/* --------- Expertise --------- */

#expertise {
  display: flex;
  flex-direction: column;
  /* justify-content:center; */
}

#expertise-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.expertise-box {
  border: 1px solid var(--text-color);
  padding: 32px 24px;
  width: 400px;
}

.expertise-header {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.expertise-logo {
  fill: var(--accent-color);
  width: 4rem;
  height: 4rem;
}

.expertise-header h3 {
  margin: 0;
  padding-left: 24px;
  font-size: 26px;
  line-height: 1.2em;
}

.expertise-text {
  padding: 24px 0 0 24px;
}

/* --------- Projects --------- */

#responsive-wrapper {
  position: relative;
}

.arrow-button {
  position: absolute;
  width: 2rem;
  z-index: 200;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
  background-color: yellow;
  border-radius: 50%;
}

.left-arrow-button {
  left: 2rem;
}

.right-arrow-button {
  right: 2rem;
}

#cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 3rem;
  column-gap: 1.3rem;
}

.card-container {
  position: relative;
  color: var(--white);
  background-color: var(--background-color);
  border: 1px solid var(--background-color);
  border-radius: var(--border-radius);
  /* todo: set different widths/heights */
  max-width: 450px;
  max-height: 300px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
  color: var(--white);
}

/*** Card Overlay ***/

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--overlay__background-color--blurred); 
  transition: 300ms ease;
}

.card-container:hover .card-overlay {
  /* todo: for onclick: */
  cursor: default;
  /* fade-in layer: */
  height: 100%;
  /* justify-content: center; */
  justify-content: flex-end;
  padding-top: 2rem;
  background-color: var(--overlay__background-color--blurred);
  align-items: center;
  padding: 2rem 2.6rem;
}

.card-container:hover img {
  opacity: 0.4;
  filter: grayscale(80%);
  transition: 0.3s ease-in;
}

.card-container:hover h3 {
  font-size: 1.8rem;
}

/*** card image ***/

.card-image {
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

/*** card-text  ***/

.card-title {
  /*** set margin-bottom to .card-overlay-height  ***/
  margin: 0.8rem 0 1.5rem 0;
  color: var(--white);
  font-size: 1.4rem;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0rem;
}

.tag {
  border: 2px solid var(--white);
  border-radius: 12px;
  padding: 2px 8px;
  background-color: var(--info-color);
  font-size: 0.8rem;
}

.hyperlinks-container {
  display: flex;
  margin-top: 1.5rem;
}

.hyperlinks-container a {
  margin: 0 2rem;
  color: var(--default-link-color);
  justify-content: space-around;
}

/* --------- Contact --------- */

#quick-links {
  display: flex;
  gap: 16px;
}

.quick-link {
  cursor: pointer;
}

.quick-link img {
  height: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

input,
textarea {
  border: 2px solid var(--border-color);
  border-radius: 4px;
  padding: 12px 12px;
}

textarea {
  resize: none;
}

label {
  margin-top: 16px;
}

.thank-you {
  margin: 40px auto;
  border: 4px solid var(--border-color);
  max-width: 400px;
  text-align: center;
}

/* --------- Footer --------- */

footer {
  position: relative;
  margin-top: 20rem;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  background-color: var(--text-color);
}

#footer-background {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4rem;
  z-index: -999;
  overflow: hidden;
}

#footer-background img {
  width: 100vw;
  filter: var(--svg-to-text-color);
}

/* _________ Helper Classes ____________ */

.navigation-anchor {
  padding-top: 5rem;
}

.show {
  display: block;
  visibility: visible;
}

.hide {
  display: none;
  visibility: hidden;
}

.visibility-on {
  visibility: visible;
}

.visibility-off {
  visibility: hidden;
}

/* .strokeme {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
} */

.accent {
  color: var(--accent-color);
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

/* _________ Breakpoints ____________ */

/* Mobile devices */

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
    line-height: 3rem;
  }

  h2 {
    color: var(--text-color);
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
    /* margin-bottom: 1rem;
    margin-top: 2rem; */
  }

  h3,
  h4,
  h5 {
    font-size: 1.5rem;
    /* margin-bottom: 1rem;
    margin-top: 2rem; */
  }

  #top-bar-menu {
    display: none;
  }

  #hamburger-button {
    /* display: block; */
    visibility: visible;
  }

  #welcome-background {
    right: -60%;
    bottom: -350px;
  }

  #terminal-window {
    font-size: smaller;
    width: 230px;
    height: 150px;
  }

  #terminal-header {
    padding: 6px 0;
  }

  .terminal-header__button {
    width: 8px;
    height: 8px;
    margin-left: 4px;
  }

  #cards-wrapper {
    flex-wrap: nowrap;
    justify-content: flex-start;
    row-gap: 0;
    column-gap: 0;
    overflow: hidden;
    scroll-behavior: smooth;
  }

  .card-container {
    max-width:none;
    max-height:none;
    overflow: unset;
  }

  .card-image {
    width: 100vw;
  }
}

/* Desktop sizes */

@media only screen and (min-width: 601px) {
  #hamburger-button {
    display: none;
    /* visibility: visible; */
  }

  .arrow-button {
    display: none;
  }
}

/* # Mobile First breakpoints */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 500px) {
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
} */
