# ignore ALL .log files
# *.log

# ignore ALL files in any DIRECTORY named temp
# temp/
# **/temp

# Track "file1.txt" even if all other txt files are ignored
# !file1.txt

---

#hili Ignore a file called "credentials" in the current directory
# /credentials

# ignore all txt files in the "logs" folder, but not "logs/apache/log.txt"
# logs/*.txt

# ignore all ".txt" files in the "logs" directory and any of its subdirectories
# logs/**/*.txt